/* World Styles */

.at-world-body {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--at-world-abyss, rgb(45, 45, 47));
}

.at-world-container {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  transition: transform 0.05s linear;
  transform-origin: top left;
  background: var(--at-world-bg, #1a1a2e);
}
